<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        {% if g.user %}
            <p>User id: {{g.user}}</p>
            <p><a href="{{ url_for('logout') }}">Logout </a></p>
        {%else %}
            <p><a href="{{ url_for('register') }}">Register</a></p>
            <p><a href="{{ url_for('login') }}">Login</a></p>

        {% endif %}
    </header>
    {% block main %}
    {% endblock %}
</body>
</html>