{% extends "base.html" %}
    {% block main %}
    <button><a href="{{ url_for('index') }}">Go back to the game!</a></button>

    <p>If you're logged in, see your past games on your profile!</p>
    <p><i>A list of the best people on the website. Are you one of them?</i></p>
        <ol>
            {%for result in results%}
            <li>
                {{result["user_id"]}} - 
                {{ result["score"] }} points
            </li>
            {%endfor%}
        </ol>

{% endblock %}